---
import "github-markdown-css/github-markdown.css";

const { Content } = Astro.props;
---

<div class="markdown-content">
    <Content />
</div>

<style is:global>
    /* Light theme (default) */
    .markdown-content {
        --note-bg: var(--bs-info);
        --note-border: var(--bs-info-border-subtle);
        --note-text: var(--bs-body-color);

        --tip-bg: var(--bs-success-bg);
        --tip-border: var(--bs-success-border);
        --tip-text: var(--bs-body-color);

        --important-bg: var(--bs-warning);
        --important-border: var(--bs-warning-border);
        --important-text: var(--bs-body-color);

        line-height: 2;

        overflow-wrap: anywhere; /* 収まらない場合に折り返す */
        word-break: normal; /* 単語の分割はデフォルトに依存 */
        line-break: strict; /* 禁則処理を厳格に適用 */
    }

    blockquote[class*="remark-note-note"] .remark-note-content {
        color: var(--note-text);
    }

    blockquote[class*="remark-note-tip"] .remark-note-content {
        color: var(--tip-text);
    }

    blockquote[class*="remark-note-important"] .remark-note-content {
        color: var(--important-text);
    }

    img {
        width: auto;
        max-width: 90%;
        max-height: 75vh;
        height: auto !important; /* guard against upstream height: 100% */
        object-fit: contain;
    }

    iframe {
        max-width: 100%;
    }
</style>
