---
import NavbarLayout from "@/layouts/NavbarLayout.astro";
---

<NavbarLayout
    title="Privacy Policy"
    description="This page describes the privacy policy of wisteriatp.work."
>
    <h1>プライバシーポリシー</h1>

    <p>
        本サイトでは、アクセス解析のためにCookieおよび<a
            href="https://developers.google.com/analytics"
            >Googleアナリティクス</a
        >を利用しています。
    </p>

    <p>
        Google アナリティクスでは、モバイル デバイスの識別情報（Android
        の広告識別子、iOS の広告識別子など）を含めたデータが取得されます。
        詳しくは、<a
            href="https://www.google.com/intl/ja/policies/privacy/partners/"
            >ユーザーが Google パートナーのサイトやアプリを使用する際の Google
            によるデータ使用</a
        >をご覧ください。
    </p>

    <p>
        なお、お客様は本サイトを利用することで以上の内容に同意したものとみなします。
    </p>
</NavbarLayout>
