---
import "bootstrap/dist/css/bootstrap.min.css";
import "@fontsource/biz-udpgothic";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
const { title, description, ogImageUrl, noindex = false } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Google tag (gtag.js) -->
        <script
            type="text/partytown"
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-LS4V0BL0XM"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-LS4V0BL0XM");
        </script>

        <Head
            title={title}
            description={description}
            ogImageUrl={ogImageUrl}
            noindex={noindex}
        />

        <style is:global>
            body {
                font-family: "BIZ UDPGothic", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        </style>
    </head>

    <body>
        <div class="min-vh-100">
            <slot />
        </div>

        <Footer />

        <script>
            const changeTheme = (isDarkMode: boolean) => {
                if (isDarkMode) {
                    document.body.dataset["bsTheme"] = "dark";
                } else {
                    document.body.dataset["bsTheme"] = "light";
                }
            };

            const darkModeMediaQuery = window.matchMedia(
                "(prefers-color-scheme: dark)"
            );
            changeTheme(darkModeMediaQuery.matches);

            darkModeMediaQuery.addEventListener("change", (e) => {
                changeTheme(e.matches);
            });
        </script>

        <script>
            import "bootstrap/dist/js/bootstrap.bundle.min.js";
        </script>
    </body>
</html>
