---
import BaseLayout from "./BaseLayout.astro";
const { title, description, ogImageUrl, noindex = false } = Astro.props;
---

<BaseLayout
    title={title}
    description={description}
    ogImageUrl={ogImageUrl}
    noindex={noindex}
>
    <slot name="outer" />
    <div class="container">
        <slot />
    </div>
</BaseLayout>
