---
import Navbar from "@/components/navbar/Navbar.astro";
import ContainerLayout from "./ContainerLayout.astro";

const { title, description, ogImageUrl } = Astro.props;
---

<ContainerLayout
    title={title}
    description={description}
    ogImageUrl={ogImageUrl}
>
    <Navbar slot="outer" />
    <div class="my-4">
        <slot />
    </div>
</ContainerLayout>
